.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .picture {
    border-radius: 10%;
}

.catalogue{
  font-family: 'Monserrat';
}

.searchbar-input {
  border-top: 0 !important;
  box-shadow: none !important;
}

.gestara{
  font-family: 'Sansnoto';
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 0%;
}

.gestarasub{
  font-family: 'Monserrat';
  font-size: 13px;
  text-align: center;
  color: white;
  margin: 0%;
}

