.picture {
    display: block; 
    width: 50%; 
    height: 50; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10%;
    margin-top: 10px;
}

.title {
    text-align: left;
    font-family: 'Monserrat'
}

.description {
    text-align: center;
    padding: 5%;
    size: 10px;
}

.btn {
 
    border-radius: 50%;
    background: white;    
  }

.descriptiongeneral{
    font-family: 'Monserrat';
    background-color: #ffffff;
}

.off {
    background: #32aa2e;
    //border-radius: 5%;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

 

