.picture {
    display: block; 
    width: 50%; 
    height: 50; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10%;
}

.title {
    text-align: center;
}

.description {
    text-align: center;
    padding: 5%;
    size: 10px;
}

.btn {
 
    border-radius: 50%;
    background: white;    
  }

 

